
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

.nav-link{
    font-size:large;
    font-family:cursive;  
}

#Home{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}


#Encabezado{
    background:black
}

h1 {
    color:white
}

#row4, #visitanos{
    background-color: #dfe6e9;;
    height: 650px;
}


.categoria{
    font-size: 20px;
    text-align: center;
 }

.atributo{
    font-size: 50px;
    text-align: center;
 }

 hr{
    border-color: black;
 }

 #fondoImagen1{
    background: url(img/images8.jpg);
 }

 #fondoImagen2{
    background: url(img/fondo11.jpg);
    height: 950px;  
 }


 #fondoImagen1 p{
    font-weight: bold;
 }

 #fondoImagen1 h4{
    color: red;
    font-weight: bold; 
 }

table, td, th {
    border: 1px solid gray;
}

th {
    color: #ffff;
}

#tabla{
   font-family:Georgia, 'Times New Roman', Times, serif;
   width: 90%;   
}


#footer {
    background-color:#0a3d62;
    height: 550px;

}

#footer h5, h4, h3 {
    color:#ffffff;
 }