
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

.nav-link{
    font-size:large;
    font-family:cursive;  
}

#Home{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}


#Encabezado{
    background:black
}

h1 {
    color:white
}

#row4{
    background-color: #dfe6e9;;
    height: 650px;
}

#footer {
    background-color:#0a3d62;
    height: 300px;
}

#footer h3, h4{
    color:#ffffff;
 }
 
.categoria{
    font-size: 20px;
    text-align: center;
 }

.atributo{
    font-size: 50px;
    text-align: center;
 }

 hr{
    border-color: black;
 }

 #fondoImagen1{
    background: url(/img/fon13.jpg);
 }

 #fondoImagen2{
    background: url(/img/fondo11.jpg);
 }


 #fondoImagen1 p{
    font-weight: bold;
 }


.icono-placeholder{
}


visitanos{
    
}